.o_searchview {
    @include media-breakpoint-up(md) {
        border-bottom: 1px solid $o-brand-secondary;
    }
    @include media-breakpoint-down(sm) {
        padding: 0px 4px 0px 0px;
    }

    .o_searchview_facet {
        @include media-breakpoint-down(sm) {
            flex-flow: row wrap;
        }

        border: 1px solid $o-brand-secondary;
        background: $o-brand-lightsecondary;
        color: $o-brand-secondary;

        .o_searchview_facet_label {
            background-color: $o-brand-odoo;
        }

        .o_facet_remove:hover {
            color: darken($o-brand-secondary, 20%);
        }
    }

	.o_searchview_input {
        border: none;
        outline: none;
    }
    .o_searchview_more {
        @include o-position-absolute($top: 4px, $right: 0);
    }
    .o_searchview_autocomplete li.o-selection-focus {
        background-color: $table-accent-bg;
    }
}

.o_search_options {
	margin: auto 0;
}
